<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="align-items-center text-center justify-content-between small">
            <div class="text-muted">TreinaDev - Shipping App</div>
        </div>
    </div>
</footer>