<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Dashboard</div>
                <%= link_to app_root_path, class:"nav-link" do %>
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                <% end %>
                <%= link_to app_shipping_companies_path, class:"nav-link" do %>
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Transportadoras
                <% end %>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <% if admin_signed_in? %>
                <div class="small">Logado como:</div>
                <%= current_admin.email %>
            <% else %>
                <div class="small">Usuário não autenticado</div>
            <% end %>
        </div>
    </nav>
</div>